*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	background: #fff;
	color: #000;
}

.wrapper_outer{
	height: 100vh;
	overflow: hidden;
}
.wrapper{
	height: 100%;
	overflow-x: hidden;
	perspective: 1px;
}

.season{
	min-height: 100vh;
	padding: 10vh 10vh;
	position: relative;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	overflow: hidden;
	transform-style: preserve-3d;
}
.background{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center center;
	z-index: -1;
	min-height: 100%; 

	transform: translateZ(-1px) scale(2);
}
.winter{
    background-image: url(/image/winter.jpg);
}
.spring{
    background-image: url(/image/spring.jpg)
}
.summer{
    background-image: url(/image/summer.jpg);
}
.autumn{
    background-image: url(/image/autumn.jpg);
}
h2{
	color: #fff;
	margin: 0 0 10px;
	font-size: 120px;
	text-shadow: 2px 2px 2px #c6c6c6;
	text-align: center;
	text-transform: uppercase;
}
